*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

:root{
  --color-background: #f3e9e9;

  font-size: 60%;
}

body {
  background: var(--color-background);
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700px){
  :root {
    font-size: 62.5%;
  }
}